h1{
    width:90;
    font-family:Verdana;
    color:yellow;
    background:white;
    text-align:center;
    font-size:50px;
}
p{
    text-align:justify;
    font-size:30px;
    color:rgb(146, 106, 106);
    background:black;
}
img{
    height:400px;
    width:400px;
}
ol{
    font-size:30px;
    color:blueviolet;
    text-align:left;
}